@charset "utf-8";
.hero-inner{position:relative;
}
.haikei{width: 100%;
}
.hero-inner div{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.logo{width: 30%;
    max-width: 382px;
}

.hero-inner p{
    color: #1b1464;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
}

.leftline, .rightline{
    width: 2px;
    height: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
}
.leftline{
    top: 0;
    left: 7%;

}
.rightline{
    top: 0;
    right: 7%;
}

/*ハンバーガーメニューPC*/



.menu_btn{
    height: 40px;
    width: 40px;
    border: 1px solid #1b1464;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_btn span{
    height: 2px;
    width: 28px;
    border-radius: 3px;
    display: block;
    position: relative;
}

.menu_btn span::before,.menu_btn span::after{
    content: "";
    display: block;
    height: 2px;
    width: 28px;
    border-radius: 3px;
    position: relative;
}

.menu_btn span::before{
    bottom: 8px;
}

.menu_btn span::after{
    top: 8px;
}

.PC_nav ul{
    display: flex;
    justify-content: space-between;
    background-color: #97cdf3;
}

.PC_nav ul li{
    min-width: 105px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    
}

.PC_nav ul li+li{
    margin-left: 55px;
}



.intro{position: relative;}
.leftline.naivey, .rightline.naivey{
    background-color: #1b1464;
}
.intro > div{
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;

}

.intro p{
    font-size: 28px;
   width: 67%;
    
}

.works h2{
    color: #fff;
    font-size: 55px;
}

.works {
    background-color: #97cdf3;
    color: #fff;
    height: 725px;
    position: relative;
}

.works h2{
    padding: 50px 10%;
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.work-gallery{
    width: 75%;

}

.work-item img {
    width: 283px;
    height: 212px;
    justify-items: center;
}

.work-item {
  display: flex;  
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  background-color: #e0e0e0;
  width: 23%;
  height: 19%
}



.workflow{
    padding: 50px 10%;
    position: relative;
}

.workflow h2 {
    color: #1b1464;
    font-size: 55px;
}

.workflow p{
    font-size: 35px;
    font-weight: lighter;
}

.workflow-steps{
    font-size: 35px;
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    text-align: center;
    position: relative;
    left: 12%;
    right: 12%;
}

.flow_design10 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .flow10 {
    padding-left: 0;
  }
  
  .flow10 > li {
    list-style-type: none;
    border: 2px solid #97cdf3;
    padding: 20px;
    border-radius: 5px;
  }
  
  .flow10 > li:not(:last-child) {
    margin-bottom: 40px;
    position: relative;
  }
  
  .flow10 > li:not(:last-child)::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    width: 0;
    height: 0;
    bottom: -53px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-top-color: #7fd9ce;
  }
  
  .flow10 > li dl dt {
    font-size: 30px;
    font-weight: bold;

  }
  
  .flow10 > li .icon10 {
    color: #97cdf3;
    margin-right: 0.5em;
  }
  
  .flow10 > li dl dd {
    margin: 0;
  }


/*fooerの箇所*/
.footer{
    color: #fff;
    background-color: #97cdf3;
    height: 305px;
    position: relative;
}

.footer h3{
    color: #fff;
    font-size: 55px;
    text-align: center;
    
}

.footer-nav{
    max-width: 1060px;
    margin: 25px auto;
    padding:0 25px;
    display: flex;
    justify-content: center;
}

.footer-nav a{
    display: block ;
    font-size: 28px;
    font-weight: lighter;
    padding:0 3% 0 0;

}

.footer_botan{
    display: flex;
    justify-content: space-between;
}

.social-icons img{
    height: 53px;
    width: 53px;
}

.social-icons{
    display: flex;
}

.contact-button img{
    width: 392px;
    display: block;
}

.contact-button a{
    font-size: 26px;

}