@charset "utf-8";
.hero-inner{position:relative;
}
.haikei{width: 100%;
}
.hero-inner div{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo{width: 382px;
}

.hero-inner p{
    color: #1b1464;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
}

.leftline, .rightline{
    width: 2px;
    height: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
}
.leftline{
    top: 0;
    left: 100px;
}
.rightline{
    top: 0;
    right: 100px;
}

.intro{position: relative;}
.leftline.naivey, .rightline.naivey{
    background-color: #1b1464;
}

.intro p{
    font-size: 28px;
    margin-top: 50px;
    
}

.works h2{
    color: #fff;
    font-size: 55px;
}

.works {
    background-color: #97cdf3;
    color: #fff;
    height: 725px;
}

.leftline1, .rightline1{
    width: 2px;
    height: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
}
.leftline1{
    top: 0;
    left: 100px;
}
.rightline1{
    top: 0;
    right: 100px;
}

.workflow h2 {
    color: #1b1464;
    font-size: 55px;
}

.workflow p{
    font-size: 35px;
    font-weight: lighter;
}

.workflow-steps{
    font-size: 35px;
    writing-mode: vertical-lr;
}

/*fooerの箇所*/
.footer{
    color: #fff;
    background-color: #97cdf3;
    height: 305px;
}

.footer h3{
    color: #fff;
    font-size: 55px;
    
}

.footer-nav{
    max-width: 1060px;
    margin: 25px auto;
    padding:0 25px;
    box-sizing: border-box;
    display: flex;
}

.social-icons{
    height: 53px;
    width: 53px;
}