@charset "utf-8";

.leftline.naivey, .rightline.naivey {
  width: 2px;
  height: 150%;
  background-color: #1b1464;
  display: block;
  position: absolute;
}
.leftline{
  top: 0;
  left: 7%;

}
.rightline{
  top: 0;
  right: 7%;
}

  
  header {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 8%;
     position: relative;
  }
  
  header h1 {
    font-size: 36px;
    color: #1b1464;
  }

  /*ハンバーガーメニューPC*/



.menu_btn{
  height: 60px;
  width: 64px;
  position: absolute;
  right: 10%;
  top: 37px;
  z-index: 1000;
}

.menu_btn span{
  height: 2px;
  width: 64px;
  border-radius: 3px;
  display: block;
  position: relative;
  background-color: #1b1464;
}

.menu_btn span::before,.menu_btn span::after{
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  border-radius: 3px;
  position: absolute;
  background-color: #1b1464;
}

.menu_btn span::before{
  bottom: 27px;
}

.menu_btn span::after{
  top: 27px;
}

/*バツ印*/

.menu_btn.active span {
  background-color: transparent;
}

.menu_btn.active span:before {
  bottom: 0;
  transform: rotate(45deg);
}

.menu_btn.active span:after {
  background-color: #1b1464;
  top: 0;
  transform: rotate(135deg);
}


.PC_nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #97cdf3;
  
  z-index: 100;
  display: none;
}

.PC_nav > div{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.PC_nav ul{
  display: flex;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  
  
}

.PC_nav ul li{
  min-width: 105px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  width: 50%;
  margin: 20px 0;
  
}
  
/*PROFILE*/
main{position: relative;}
  
  .profile-section {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding-bottom: 60px;
  }


  
  .profile-image img {
    width: 200px;
    border-radius: 8px;
    margin: 50px 40%;
  }

  .profile-text{
    margin: 50px 10%;
  }
  
  .profile-text h2 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #1b1464;
    font-weight:bold;
    padding-bottom: 3%;
  }
  
  .profile-text p {
    color: #97cdf3;
    font-size: 20px;
    padding-bottom: 2%;
  }

  /*Skills*/
  
  .skills-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
     justify-content: center;
     align-items: center;
     padding: 3%;
     color: #1b1464;
  }
  
  .skill-block {
    display: flex;
    gap: 30px;
    padding: 50px 10%;
    padding-bottom: 40px;
  }
  
  .skill-block img {
    width: 250px;
    border-radius: 8px;
  }
  
  .skill-block h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #1b1464;
  }
  
  .skill-block p {
    font-size: 14px;
    color: #97cdf3;
    line-height: 1.8;
  }
  
  .skill-block .label {
    font-weight: bold;
    color: #1b1464;
    margin-top: 5%;
  }
  
  .skill-block .tools {
    color: #97cdf3;
    font-size: 14px;
  }
  
/*fooerの箇所*/

.leftline, .rightline {
  background-color: #fff;
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
}


.footer{
  color: #fff;
  background-color: #97cdf3;
  position: relative;
  padding: 20px 40px;
}

.footer h2{
  color: #fff;
  font-size: 55px;
  text-align: center;
  
  
}

.footer-nav{
  max-width: 1060px;
  margin: 25px auto;
  padding:0 25px;
  display: flex;
  justify-content: center;
}

.footer-nav a{
  display: block ;
  font-size: 28px;
  font-weight: lighter;
  padding:0 3% 0 0;

}

.footer_botan{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 45px;
  padding-bottom: 50px;
}

.social-icons img{
  height: 53px;
  width: 53px;
}

.social-icons{
  display: flex;
  gap: 50px;
}

.contact-button img{
  width: 392px;
  display: block;
}

.contact-button a{
  font-size: 26px;
  display: flex;
    gap: 15px;
    align-items: center;
}